<h1>Welcome to "Would You Rather...?"</h1>

<% if @options.any? %>
  <% @options.each do |option| %>
    <div class="container-fluid">
      <h3>Would you rather...</h3>
      <% options.each do |option| %>
        <div class="container-fluid">
          <%= option.text %>
        </div>
        <% end %>
    <% end %>
  <% end %>
<%= link_to "Add Question", new_question_path %>

</div>
