<h1>Welcome to "Would You Rather...?"</h1>

<% @questions.each do |question| %>
  <div class="container-fluid">
    <h3>Would you rather...</h3>
    <% question.answers.each do |answer| %>
      <div class="container-fluid">
        <%= answer.text %>
      </div>
    <% end %>
  </div>
<% end %>
